.container{
    padding:5px;
    width:400px;
    height:370px;
    text-align: center;
    margin-left: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
 margin:0px 10px 0px 10px;
}
form p{
    color:red;
    font-size: 18px;
}
.success{
    color:gray;
    font-size: 20px;
}